%h1.page-header Seattle People

.row
  %ul.list-group
    - if @people.any?
      - @people.each do |person|
        %li.list-group-item.clearfix.person
          = picture_for person
          = link_to person, person
    - else
      %li.list-group-item-info
        %h4 There are no people in this list