%h1.cover-heading The Details
%p.lead
  %p
    Hot Mess is a new kind of social app, one that makes people actually social.  It's focused on increasing
    the discoverability of nightlife and other events in gay culture that allow people to meet, talk and become
    friends.
  %p
    It does this by using a combination of data sources to aggregate events and people.  We then layer on top some geolocation
    augmented reality sauce to enhance the data-set, use some hardcore functional math and make recommendations
    for each person and group of friends.  Poof; instant party.
  %p
    By providing a curated list of promoters, DJs and other entertainers Hot Mess provides new experiences over
    social media.  No more "verified" profiles, if you're part of the nightlife, then get followed without
    promotion.

  .div
    %a.btn.btn-primary(href="https://facebook.com/gayhotmess") Hot Mess on Facebook