%h1.cover-heading Ready to go out?
%p.lead
  %div We're in private beta, and we've got you on the list.  Look for an email from TestFlight:
  %div(style="margin: 20px;")= image_tag 'test_flight.png'
%p
  To get the early news make sure and like the page here:

  .div
    %a.btn.btn-primary(href="https://facebook.com/gayhotmess") Hot Mess on Facebook