%h1.cover-heading Ready to go out?
%p.lead
  We're in private beta.  To get the early releases like the page here:

  .div
    %a.btn.btn-primary(href="https://facebook.com/gayhotmess") Hot Mess on Facebook