%h1.cover-heading Ready to go out?
%p.lead
  We're in private beta, and we've got you on the list.  To get the early news make sure and like the page here:

  .div
    %a.btn.btn-primary(href="https://facebook.com/gayhotmess") Hot Mess on Facebook