%h1.cover-heading Talk It Out
%p.lead
  Have a party to list?
  %br
  Want additional information about the product or company?

  .div
    %a.btn.btn-default(href="mailto:info@hotmess.social") rickmark@outlook.com

    %a.btn.btn-default(href="tel:14067881551") +1 (406) 788-1551