%h1.cover-heading Talk it out.
%p.lead
  Have a party to list?  Want aditional information about the product or company?

  .div
    %a.btn.btn-primary(href="mailto:rickmark@outlook.com") rickmark@outlook.com
    %a.btn.btn-default(href="tel:14067881551") +1 (406) 788-1551