%h1.cover-heading Need Help?
%p.lead
  Contact us here or though the app.
  %br
  On the "me" tab there is a "Send Feedback" link.  Also use either of the following to get in touch.

  .div
    %a.btn.btn-default(href="mailto:info@hotmess.social") support@hotmess.social

    %a.btn.btn-default(href="tel:14067881551") +1 (406) 788-1551