%h1.page-header Seattle Events

%ul.list-group
  - @events.each do |event|
    %li.list-group-item.clearfix.event
      = picture_for event
      %h4= link_to event.name, event
      %p= simple_format truncate(event.description, length: 160)