%h1.page-header= @event.name

.row
  .col-md-8
    .panel.panel-primary
      .panel-heading Event Details
      .panel-body
        = @event.description

  .col-md-4
    .panel.panel-default
      .panel-heading Venue
      .panel-body
        = @event.venue.name