.row
  %h1.page-header Seattle Venues

%ul.list-group
  - @venues.each do |venue|
    %li.list-group-item.clearfix.venue
      = picture_for venue
      %h4= link_to venue.name, venue
      - if venue.about
        %p= venue.about
      - else
        %p.text-muted No Description