.row
  %h1.page-header Seattle Venues

%ul.list-group
  - @venues.each do |venue|
    %li.list-group-item.clearfix.venue
      .pull-left( style="margin-right: 16px;" )
        - if venue.picture
          = image_tag venue.picture.url
        - else
          %div( style="width: 32px; height: 32px; background-color: #888;")

      %h4= link_to venue.name, venue
      - if venue.about
        %p= venue.about
      - else
        %p.text-muted No Description