.row
  %h1.page-header Seattle Venues

- @venues.each do |venue|
  .row
    .col-md-12
      .pull-left( style="margin-right: 16px" )
        %img{ src: venue.picture.url }

      .pull-left
        %p= link_to venue.name, venue
        - if venue.about
          %p= truncate venue.about, length: 140
        - else
          %p.text-muted No Description