%h1 Create a New Venue

.row
  = import_form :venue

.row
  .panel.panel-default
    .panel-heading Create a Venue Manually
    .panel-body
      = render partial: 'form'
    .panel-footer.clearfix
      .pull-left
        = link_to 'Cancel', venues_path, class: 'btn btn-danger'
      .pull-right
        = submit_tag 'Create', class: 'btn btn-primary'