[Unit]
Name=Hot Mess - Puma Production Server
Requires=redis.service postgresql.service mongodb.service nginx.service
After=redis.service postgresql.service syslog.target network.target mongodb.service nginx.service

[Service]
User=http
WorkingDirectory=/srv/http/hot_mess
ExecStart=/bin/bash -lc 'bundle exec puma -C config/puma.rb'
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target